<div class="row content-container">
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    <div class="page-title">
                        <span class="title">{{contenido.panelHead}}</span>
                        <div class="description">{{contenido.panelDescription}}</div>
               
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
    
                                <div class="card-header">
                                    <div class="card-title">
                                    <div class="title">{{contenido.tableHead}}</div>
                                    
                                    </div>
                                </div>






                                 </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>